.sustainable-section{
    background-color: #1b2530;
    color: white;
    align-items: center;
    h2{
        font-size: 3.75rem;
    }
    .row{
        display: flex;
        flex-direction: row;
    }
}